.langButton {
  position: relative;
  z-index: 5;
  padding: 10px;
  animation: fades 1s ease forwards;
}

.langButton img {
  height: 30px;
  width: 30px;
}

/* @media (min-width: 640px) {
  
} */
@media (min-width: 768px) {
  .langButton img {
    height: 35px;
    width: 35px;
  }
}
/* @media (min-width: 1024px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 1536px) {
} */

@keyframes fades {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
