.container {
  position: fixed;
  right: 20px;
  top: 20px;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: var(--blur-amount);
  -webkit-backdrop-filter: var(--blur-amount);
}

.imageHolder {
  position: relative;
  z-index: 5;
  padding: 10px;
}

.image {
  height: 30px;
  width: 30px;
  transition: ease-in-out 0.1s;
}

.image:hover {
  transform: scale(1.3) rotate(var(--image-rotate-deg));
}
/* @media (min-width: 640px) {
  
} */
@media (min-width: 768px) {
  .image {
    height: 35px;
    width: 35px;
  }
}
@media (min-width: 1024px) {
  .container {
    right: 40px;
  }
}
/* @media (min-width: 1280px) {
}
@media (min-width: 1536px) {
} */
