.container {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.limit {
  height: 100%;
  width: 220px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* @media (min-width: 640px) {
} */
@media (min-width: 768px) {
  .limit {
    width: 280px;
  }
}
/* @media (min-width: 1024px) {
  
}
@media (min-width: 1280px) {
  
}

@media (min-width: 1536px) {
} */
