.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.container header {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  font-size: 18vw;
  font-weight: bolder;
  overflow-wrap: break-word;
  opacity: 0.05;
}

.limit {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}
/* @media (min-width: 640px) {
} */
@media (min-width: 768px) {
  /* .limit {
    width: 60%;
  } */
  .container header {
    font-size: 16vw;
  }
}
@media (min-width: 1024px) {
  .container header {
    font-size: 9vw;
  }
  .limit {
    width: 50%;
  }
}
/* @media (min-width: 1280px) {
}
@media (min-width: 1536px) {
} */
