@font-face {
  font-family: "Tektur";
  src: url("../assets/fonts/tektur.ttf") format("truetype-variations");
  font-weight: 100 900;
}

:root {
  font-family: Tektur, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --blur-amount: blur(4px);
}

:root.light {
  background-color: white;
  --background-color: white;
  color: black;
  --border-color: rgba(0, 0, 0, 0.4);
  --shadow-color:
    0 0 18px rgba(0, 0, 0, 0.05), 0 0 28px rgba(0, 0, 0, 0.08),
    0 0 48px rgba(0, 0, 0, 0.18);
}

:root.dark {
  background-color: black;
  --background-color: black;
  color: whitesmoke;
  --border-color: rgba(255, 255, 255, 0.2);
  --shadow-color:
    0 0 18px rgba(255, 255, 255, 0.05), 0 0 28px rgba(255, 255, 255, 0.08),
    0 0 48px rgba(255, 255, 255, 0.18);
}

.button-as-div {
  border: 0;
  cursor: pointer;
  background: none;
  width: fit-content;

  font: inherit;
  color: inherit;
  text-align: inherit;
  line-height: inherit;

  appearance: none;
  -webkit-appearance: none;
}

.standard-hover {
  transition: ease-in-out 0.1s;
}

.standard-hover:hover {
  transform: scale(1.08);
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: large;
}
/* @media (min-width: 640px) {

} */
@media (min-width: 768px) {
  h1 {
    font-size: xx-large;
  }
  h2 {
    font-size: x-large;
  }
  p {
    font-size: large;
  }
}
/* @media (min-width: 1024px) {
} */
/*@media (min-width: 1280px) {
}
@media (min-width: 1536px) {
}  */
