:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root.dark {
  background-color: black;
  color: whitesmoke;
}

.button-as-div {
  border: 0;
  cursor: pointer;
  background: none;
  width: fit-content;

  font: inherit;
  color: inherit;
  text-align: inherit;
  line-height: inherit;

  appearance: none;
  -webkit-appearance: none;
}
