.container {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.limit {
  position: relative;
  width: 1500px;
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
}

.limit h1 {
  font-weight: 900;
  padding: 0;
  margin: 0;
  font-size: 80px;
}

.info {
  display: flex;
  justify-content: space-around;
  width: 280px;
  position: relative;
  z-index: 5;
}

.info p {
  font-size: x-small;
  margin: 0;
}

.info a {
  font-size: x-small;
}

.marquee {
  width: 100%;
  position: absolute;
  transform: translateX(-1500px);
  animation: marqueeMove 18s linear var(--tagline-delay) infinite;
}

/* @media (min-width: 640px) {
} */
/* @media (min-width: 768px) {

}
@media (min-width: 1024px) {

}
@media (min-width: 1280px) {

} */

/* @media (min-width: 1536px) {
} */

@keyframes marqueeMove {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0.6;
  }

  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    transform: translateX(1650px);
  }
}
