.container {
  width: 100%;
  /* border: 1px solid var(--border-color); */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.imageHolder {
  margin: 10px 20px;
  filter: grayscale(0.3);
  animation: float 5s ease-in-out infinite;
}

.image {
  height: 30px;
  width: 30px;
}

@media (min-width: 768px) {
  .image {
    height: 40px;
    width: 40px;
  }
}

@media (min-width: 1024px) {
  .imageHolder {
    margin: 20px 40px;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(8px);
  }

  100% {
    transform: translateY(0px);
  }
}
