:root {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;

}

h1 {
  font-size: xx-large;
}

p {
  font-weight: 300;
  margin: 0;
}


section {
  width: 90vw;
  padding-top: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-div {
  font-size: x-large;
  border-bottom: 1px solid;
  margin-bottom: 30px;
}

@media (max-width: 767px) {

  .homeIntro-div1 {
    width: 90vw;
  }

  .skills-div1 {
    width: 90vw;
  }

  .projects-div1 {
    width: 90vw;
  }
  
}

@media (max-width: 1050px) {

  .projects-card-div {
    width: 330px;
    height: 520px;
  }
  
  .projects-card-topSection {
    margin-top: 30px;
    height: 50%;
    width: 100%;
  }
  
  .projects-img-div img {
    width: 330px;
    height: 210px;
    filter: grayscale(30%);
  }
  
  .projects-links-div {
    height: 50px;
    width: 330px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 1 !important;
  }

  .projects-links-div img {
    width: 20px;
    height: 25px;
  }
  
  .projects-links-div span {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: x-small;
  }

}

@media (min-width: 768px) {

  .homeIntro-div1 {
    width: 600px;
  }

  .skills-div1 {
    width: 600px;
  }

  .projects-div1 {
    width: 800px;
  }

  
}

@media (min-width: 1051px) {

  .projects-card-div {
    width: 330px;
    height: 450px;
  }
  
  .projects-card-topSection {
    margin-top: 30px;
    height: 50%;
    width: 100%;
    position: relative;
  }
  
  .projects-img-div {
    position: absolute;
    z-index: -1;
  }
  
  .projects-img-div img {
    width: 330px;
    height: 210px;
    filter: grayscale(30%);
  
  }
  
  .projects-links-div {
    height: 220px;
    width: 330px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
  }
  
  .projects-links-div:hover {
    backdrop-filter: blur(1px);
  }

  .projects-links-div img {
    width: 30px;
  }
  
  .projects-links-div span {
    height: 125px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: small;
  }

}

/*Home Section*/


.homeIntro-div1 {
  height: 300px;
  cursor: default;
  align-content: center;
}


/*Skills Section*/


.skills-div1 {
  height: 200px;
}

.skills-div2 {
  height: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.skills-div2-about {
  height: 10%;
}


.skills-logo-div img {
  width: 30px;
  height: 40px;
  filter: grayscale(60%);
}


/*Projects Section*/


.projects-div1 {
  /* height: 1000px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.projects-card-bottomSection {
  height: 35%;
  width: 100%;
  font-size: small;
}

.projects-about-div {
  height: 60%;
  width: 100%;
  align-content: center;
}

.projects-tech-div {
  height: 40%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.projects-tech-div p {
  margin: 5px;
  font-weight: 500;
}

.projects-button-div {
  width: 100%;
}

button {
  height: 30px;
  background-color: white;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer !important;
}







