:root {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;

}

h1 {
  font-size: xx-large;
}

h2 {
  margin: 0;
}

h3 {
  font-weight: 500;
  font-size: larger;
}

p {
  font-weight: 300;
  margin: 0;
}


section {
  width: 90vw;
  padding-top: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-div {
  border-bottom: 1px solid;
  margin-bottom: 30px;
}

.buttons-div {
  width: 100%;
  height: 60px;
  align-content: end;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.custom-cursor::after {
  content: "█";
  animation: blink 0.8s infinite;
  color: black;
}

/* Copied from css loaders */
.submit-loader {
  width: 30px;
  padding: 5px;
  justify-self: center;
  aspect-ratio: 1;
  border-radius: 50%;
  background: black;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

button {
  height: 30px;
  width: 100px;
  background-color: white;
  border: 2px solid;
  border-radius: 10px;
  cursor: pointer !important;
  margin: 0px 10px 0px 10px;
}

input {
  height: 30px;
  width: 200px;
  border: 1px solid;
  border-radius: 5px;
}

@keyframes shakeError {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.inputError {
  animation: shakeError 0.3s ease-in-out;
  border: 2px solid red;
}

@media (max-width: 767px) {

  .homeIntro-div1 {
    width: 90vw;
  }

  .skills-div1 {
    width: 90vw;
  }

  .projects-div1 {
    width: 90vw;
  }

  .exp-div1 {
    width: 90vw;
  }
  
}

@media (max-width: 1050px) {

  /*Projects Section*/

  .projects-card-div {
    width: 330px;
    height: 520px;
  }
  
  .projects-card-topSection {
    margin-top: 30px;
    height: 50%;
    width: 100%;
  }
  
  .projects-img-div img {
    width: 330px;
    height: 210px;
    filter: grayscale(30%);
  }
  
  .projects-links-div {
    height: 50px;
    width: 330px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 1 !important;
  }

  .projects-links-div img {
    width: 20px;
    height: 25px;
  }
  
  .projects-links-div span {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: x-small;
  }

}

@media (min-width: 768px) {

  .homeIntro-div1 {
    width: 600px;
  }

  .skills-div1 {
    width: 600px;
  }

  .projects-div1 {
    width: 800px;
  }

  .exp-div1 {
    width: 600px;
  }
  
}

@media (min-width: 1051px) {

  /*Projects Section*/

  .projects-card-div {
    width: 330px;
    height: 450px;
  }
  
  .projects-card-topSection {
    margin-top: 30px;
    height: 50%;
    width: 100%;
    position: relative;
  }
  
  .projects-img-div {
    position: absolute;
    z-index: -1;
  }
  
  .projects-img-div img {
    width: 330px;
    height: 210px;
    filter: grayscale(30%);
  
  }
  
  .projects-links-div {
    height: 220px;
    width: 330px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }
  
  .projects-links-div:hover {
    backdrop-filter: blur(1px);
  }

  .projects-links-div img {
    width: 30px;
  }
  
  .projects-links-div span {
    height: 125px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: small;
  }

}

/*Home Section*/


.homeIntro-div1 {
  height: 60vh;
  align-content: center;
}




/*Skills Section*/


.skills-div1 {
  height: 280px;
}

.skills-div2 {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.skills-div2-about {
  height: 10%;
  width: 100%;
}

.skills-logo-div {
  width: 80px;
}


.skills-logo-div img {
  width: 30px;
  height: 40px;
  filter: grayscale(60%);
}


/*Projects Section*/


.projects-div1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.projects-card-bottomSection {
  height: 35%;
  width: 100%;
  font-size: small;
}

.projects-about-div {
  height: 60%;
  width: 100%;
  align-content: center;
}

.projects-tech-div {
  height: 40%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.projects-tech-div p {
  margin: 5px;
  font-weight: 500;
}

/*Experience Section*/

.exp-card-div {
  text-align: left;
  margin-bottom: 30px;
}

.exp-card-div h3 {
  margin: 0;
}

.exp-card-role {
  font-size: smaller;
}

.exp-card-about {
  margin-top: 10px;
}


/*Contact Section*/


.contact-screen-div1 {
  width: 350px;
  height: 360px;
  text-align: left;
  padding-bottom: 100px;
}

.contact-showInput-div {
  width: 350px;
  word-break: break-all;
}

.contact-showInput-div p {
  margin-bottom: 20px; 
}

.hpInput {
  width: 0;
  height: 0;
  border: 0;
  background-color: transparent;
  color: transparent;
}

.contact-form-div1 {
  height: 120px;
  width: 350px;
  align-content: center;
}

/*Footer Section*/

.footer-marquee-div1 {
  height: 80px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.footer-marquee-div1 h1 {
  font-weight: 900;
  padding: 0;
  margin: 0;
  font-size: 60px;
}

.footer-marquee-text {
  position: absolute;
  cursor: default;
  filter: opacity(0.6);
}










