:root {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

  background-color: #FAF9F6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  height: 98vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hp-hb-div {
  height: 30%;
  width: 100%;
}